/* reset Css */
html {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* common */
body {
  margin: 0px;
}
/* phần header */
#maint {
  max-width: 1600px;
}
#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 38px;
  background-color: #111;
}
.header__social {
  width: 100%;
  height: 100%;
}
.header__icon {
  display: inline-flex;
  width: 45px;
  height: 38px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}
.header__icon:hover {
  background-color: #ccc;
  font-size: 15px;
  color: #000;
}
.header__search {
  display: flex;
  width: 46px;
  justify-content: center;
}
.header__saerch-link {
  display: inline-block;
}
.blog__heading {
  text-align: center;
  padding: 48px 16px;
}
.blog__heading-title {
  font-family: "Oswald";
  font-size: 48px;
  color: #000;
  padding: 0px;
  margin: 10px 0;
}
.blog__heading-descriptinon {
  margin: 0px;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 16px;
}
.heading-description-blacker-out {
  margin: 0px;
  padding: 0 8px;
  background-color: #111;
  color: #fff;
}
.blog__body {
  position: relative;
  width: 100%;
}
.blog__body-img {
  width: 100%;
}
.blog__body-info {
  position: absolute;
  top: 35%;
  left: 0px;
  padding: 12px 24px;
}
.blog__body-info-jane {
  font-family: "Oswald";
  color: #fff;
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px;
  letter-spacing: 4px;
}
.blog__body-info-fashion {
  font-family: "Oswald";
  color: #fff;
  font-size: 64px;
  margin: 0px;
  letter-spacing: 4px;
  line-height: 1.5;
}
.blog__body-btn {
  display: block;
  margin: 10px 0;
}
.blog__body-btn-btn {
  font-size: 18px;
  font-family: "Oswald";
  padding: 12px 24px;
  border: 0px;
  background-color: rgba(187, 184, 184, 0.69);
}
.blog__body-btn-btn:hover {
  background-color: rgba(187, 184, 184, 1.2);
}
/* phần thân */
#body-title {
  display: flex;
  padding: 8px 16px;
  background-color: #f1f1f1;
}
/* phần title */
.title__title {
  display: block;
  width: 66.6666%;
  background-color: #f1f1f1;
}
.title__title-picture {
  background-color: #fff;
  padding: 12px 24px;
  margin: 16px;
}
.title__title-heading {
  text-align: center;
  font-family: "Oswald";
  font-size: 24px;
  margin: 10px 0px;
  line-height: 1.5;
  font-weight: 400;
}
.title__title-description {
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
  font-size: 18px;
  color: #000;
  font-family: "Oswald";
}
.title__title-description span {
  color: #111;
  opacity: 0.6;
}
.title__title-img {
  padding: 16px 0;
  width: 100%;
}
.title__title-document-under,
.title__title-document-on {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Open Sans";
  text-align: justify;
}
.title__title-document-on b {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Open Sans";
}

.title__title-like {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 15px;
  padding-bottom: 35px;
}
.title__title-like-like {
  width: 86px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.title__title-like-like:hover {
  background-color: #d4cfcf;
}

.title__title-replies {
  display: flex;
  width: 118px;
  background-color: #111;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans";
  border: 0px;
}
.title__title-replies:hover {
  background-color: #d4cfcf;
  color: #000;
}
.title__title-replies-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  width: 25px;
  height: 22px;
  margin-left: 12px;
}
.title__title-George {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}
.title__title-George-img {
  width: 90px;
  height: 100px;
  padding-right: 18px;
}
.title__title-George-title {
  font-family: "Oswald";
  font-size: 20px;
  line-height: 1.5;
  margin: 15px 0;
}
.title__title-George-title b {
  font-family: "Oswald";
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.6;
  font-weight: 400;
}
.title__title-George-description {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Open Sans";
  margin: 15px 0;
}
/* phần title Name */
.body-title__name {
  width: 33.3333%;
}
.body-title__myname {
  margin: 16px 16px 40px 16px;
}
.body-title__myname-img {
  width: 100%;
}
.body-title__myname-document {
  background-color: #000;
  padding: 0 16px;
}
.body-title__myname-myname {
  font-family: "Oswald";
  font-weight: 400;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  margin: 0px;
}
.body-title__myname-description {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.3;
  text-align: justify;
  color: #fff;
  padding: 10px 0;
  margin: 0px;
}
.body-title__Popular {
  margin: 16px 16px 40px;
  background-color: #fff;
}
.body-title__Popular-title {
  font-family: "Oswald";
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
  padding: 8px 16px;
  background-color: #000;
  display: block;
}
.body-title__Popular-list {
  padding: 0px;
  list-style: none;
  margin: 0px;
}
.body-title__Popular-item {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}
.body-title__Popular-item:hover {
  background-color: #cccccc;
}
.body-title__Popular-item-img {
  width: 50px;
  margin-right: 16px;
}
.body-title__Popular-item-text {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.body-title__Popular-item-title {
  display: block;
  line-height: 25px;
  font-family: "Open Sans";
  font-size: 18px;
}
.body-title__Popular-item-description {
  display: block;
  line-height: 25px;
  font-family: "Open Sans";
}

/* Advertise */
.body-title__Advertise {
  margin: 16px 16px 40px;
}
.body-title__advertise-heading {
  padding: 8px 16px;
  background-color: #000;
}
.body-title__advertise-heading-text {
  color: #f8f5f5;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0;
}
.body-title__advertise-container {
  background-color: #fff;
  padding: 16px 0;
}
.body-title__advertise-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  height: 200px;
  background-color: #f1f1f1;
}
.advertise-container-text {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.5;
}

.body-title__tags {
  margin: 16px;
  background-color: #fff;
  margin-bottom: 40px;
}
.body-title__tags-heading {
  background-color: #000;
  padding: 8px 16px;
}
.body-title__tags-heading-text {
  display: block;
  font-weight: 400;
  margin: 10px 0;
  font-family: "Oswald";
  font-size: 20px;
  color: #fff;
}
.body-title__tags-list {
  padding: 0 16px;
  margin-bottom: 40px;
}
.body-title__tags-textFashion {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.body-title__tags-text {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  color: #000;
  background-color: #f1f1f1;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.body-title__Inspiration {
  background-color: #fff;
  margin: 16px 16px 40px;
}
.body-title__Inspiration-heading {
  background-color: #000;
  padding: 8px 16px;
}
.body-title__Inspiration-heading-text {
  display: block;
  font-weight: 400;
  margin: 10px 0;
  font-family: "Oswald";
  font-size: 20px;
  color: #fff;
}
.body-title__Inspiration-picture {
  display: flex;
  padding: 8px 8px 0px 8px;
}
.Inspiration-picture-column01 {
  width: 50%;
}
.Inspiration-picture-img {
  padding: 8px;
  width: 90%;
}
.Inspiration-picture-column02 {
  width: 50%;
}

.body-title__Follow {
  background-color: #fff;
  margin: 16px 16px 40px;
}
.body-title__Follow-heading {
  background-color: #000;
  padding: 8px 16px;
}
.body-title__Follow-heading-text {
  display: block;
  font-weight: 400;
  margin: 10px 0;
  font-family: "Oswald";
  font-size: 20px;
  color: #fff;
}
.body-title__Follow-social-list {
  padding: 8px 16px;
}
.Follow-social {
  display: inline-block;
  color: #000;
}
.Follow-social:hover {
  opacity: 0.5;
}
.Follow-social i {
  font-size: 23px;
  margin-right: 5px;
  line-height: 1.5;
}
.body-title__subscribe {
  background-color: #fff;
  margin: 16px 16px 40px;
}
.body-title__subscribe-heading {
  background-color: #000;
  padding: 8px 16px;
}
.body-title__Subscribe-heading-text {
  display: block;
  font-weight: 400;
  margin: 10px 0;
  font-family: "Oswald";
  font-size: 20px;
  color: #fff;
}
.body-title__subscribe-container {
  padding: 1px 16px;
}
.subscribe-container-text {
  display: block;
  font-size: 17px;
  line-height: 1.5;
  color: #000;
  text-align: justify;
  font-family: "Open Sans";
  margin: 8px 0px;
}
.subscribe-container-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 15px;
  margin: 15px 0;
}
.subscribe-container-btn {
  display: block;
  width: 100%;
  color: #fff;
  background-color: rgb(250, 7, 7);
  padding: 8px 16px;
  border: none;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.subscribe-container-btn:hover {
  background-color: rgb(170, 165, 165);
  color: #000;
}
/* Phần footer */
#footer {
  padding: 32px;
  background-color: #616161;
}

.footer__container-top {
  display: inline-block;
  padding: 12px 24px;
  margin-bottom: 16px;
  background-color: #000;
  border: 0px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 17px;
  cursor: pointer;
}
.footer__container-top:hover {
  background-color: #cccaca;
  color: #000;
}
.footer__container-top i {
  margin-right: 16px;
}
.footer__container-power {
  margin: 15px 0;
  color: #fff;
  font-size: 17px;
  line-height: 1.5;
  font-family: "Open Sans";
}
.footer__container-power a {
  text-decoration: underline;
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
}
